[Desktop Entry]
Version=1.0
Type=Application
Name=Get Extensions
StartupWMClass=Get Extensions
Comment=GNOME app to download and manage extensions
Icon=getextensions
Exec=python3 -m getextensions
Actions=
Categories=X-GNOME-Other;
